!ThirdParty/
!ThirdParty/**
!TireModels/
!TireModels/**
TireCentral/
build/
Build/
out/
bin/
lib/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
*.cmake
!CMakeLists.txt
!CMakePresets.json
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj
*.i
*.s
*.res
*.pch
*.gch
*.pdb
*.idb
*.ilk
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
desktop.ini
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt
